body {
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: auto !important;
}

.img-logo {
    height: 2rem;
    width: 2rem;
}

.navbar {
    background-color: transparent !important;
}

.icon-section {
    text-align: center;
}

.icon-section .linea {
    color: #ffffff;
}

.fa-solid {
    text-align: center;
    height: 1rem;
    width: 5rem;
}

.card-section {
    text-align: center;
}

.card-section .linea {
    color: #ffffff;
}

#card-img {
    height: 9rem;
}

.form-section {
    text-align: center;
}

.form-section .linea {
    color: #ffffff;
}